Ce Notebook permet de mettre en forme les données nettoyées pour qu'elles soient prêtes à l'utilisation.

In [6]:
# on va récupérer les avis et les pseudos générés pour en faire des données propres et prête à être utilisées pour la suite du projet : 
import pandas as pd

# on va lire le fichier txt qui contient les avis générés :
df = pd.read_csv('./datas/generated_reviews_clean.txt', sep='\t', header=None, names=['date', 'review'])

# on va afficher les premières lignes du dataframe pour vérifier que les données ont été correctement chargées :
df.head()

         date                                             review
0  03/05/2025  Le chocolat en poudre de Chocotte est délicieu...
1  24/02/2025  Le Chocotte a déçu ce mois-ci ! J'avais comman...
2  10/02/2025  J'ai acheté une boîte de tablettes de chocolat...
3  08/02/2025  J'ai acheté une tablette de chocolat au Chocot...
4  24/03/2025  Le produit que j'ai reçu était un gâteau au ch...

In [7]:
# Maintenant celui qui contient les pseudos générés :
df_pseudos = pd.read_csv('./datas/pseudos.txt', sep='\t', header=None, names=['pseudo'])

df_pseudos.head()

                  pseudo
0             Lotte_Zélé
1     Sittelle_Goguenard
2            Yack_Hagard
3  Tarsier_Quintessencié
4       Iguane_Astucieux

In [8]:
# nombre de lignes dans chaque dataframe :
print(f'Nombre d\'avis générés : {len(df)}')
print(f'Nombre de pseudos générés : {len(df_pseudos)}')

Nombre d'avis générés : 2001
Nombre de pseudos générés : 20000

In [11]:
# on fusionne les deux dans l'ordre pseudo - date - review et on ne prend que les 2000 premières lignes :
df_final = pd.concat([df_pseudos, df], axis=1).head(2001)

# on affiche le dataframe final pour vérifier que les données ont été correctement fusionnées :
df_final

,pseudo,date,review
0,Lotte_Zélé,03/05/2025,Le chocolat en poudre de Chocotte est délicieu...
1,Sittelle_Goguenard,24/02/2025,Le Chocotte a déçu ce mois-ci ! J'avais comman...
2,Yack_Hagard,10/02/2025,J'ai acheté une boîte de tablettes de chocolat...
3,Tarsier_Quintessencié,08/02/2025,J'ai acheté une tablette de chocolat au Chocot...
4,Iguane_Astucieux,24/03/2025,Le produit que j'ai reçu était un gâteau au ch...
...,...,...,...
1996,Zygene_Unicolore,24/11/2025,Alice a été déçue par la qualité du chocolat e...
1997,Yohimbe_Zoné,15/03/2025,"J'ai reçu un paquet de tablettes de chocolat ""..."
1998,Okapi_Nebuleux,17/04/2025,J'ai découvert ce magasin il y a quelques sema...
1999,Kawakawa_Kryptonique,15/03/2025,La poudre de Chocotte est vraiment délicieuse !
2000,Quokka_Bondissant,20/03/2025,J'ai acheté les biscuits au chocolat de la mar...

In [12]:
# on enregistre le dataframe final dans un fichier pour pouvoir l'utiliser dans la suite du projet :
df_final.to_csv('./datas/final_reviews.txt', sep='\t')

print('Données finales enregistrées dans final_reviews.txt')

Données finales enregistrées dans final_reviews.txt